<nav class="navbar navbar-expand-lg navbar-dark bg-info px-4">
  <a class="navbar-brand fw-bold text-primary" href="#">
    <img src="webs.webp" alt="Logo" width="" height="40" class="d-inline-block align-text-top ">

  </a>
  <div class="collapse navbar-collapse justify-content-between">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/student/studentdash">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="studentprofile">Profile</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/student/courses">My Courses</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" routerLink="/student/attendance">Attendance</a>
      </li>
    </ul>

    <div class="d-flex align-items-center text-white">
      <div class="me-3 text-end">
        <div>{{ studentfirstName }}</div>
        <div>{{ studentlastName }}</div>
      </div>
      <button class="btn btn-outline-light btn-sm" (click)="logout()">Logout</button>

    </div>
  </div>
</nav>
